
{% extends 'index.html' %}

{% block style %}
    <style>
        #body {
            margin-left: 2%;
        }
        
        #header {
            background-color: #DCDCDC;
            text-align: center;
            width: 100%;
        }
        
        #textInfos {
            text-align: center;
            margin-top: 2%;
        }
    </style>
{% endblock %}

{% block corpo %}

    <div class="container-fluid">
        <div id="header">
            <h1 class="mt-3">Listagem Carros</h1>
        </div>
        <div class="row">
            {% for carro in context.carros %}
                <div class="card col-md-3 mt-5" id="body">
                    <a href="{% url 'deleteCarro' carro.id %}" class="btn btn-danger col-md-2 m-2">
                        <i class="bi bi-trash-fill"></i>
                    </a>                    
                    <div id="textInfos">
                        <h3 class="card-title">{{carro.modelo}}</h3>
                        <h4 class="card-subtitle mb-2 text-muted">{{carro.cor}}</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Proprietário: {{carro.proprietario}}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}